/*div {
	overflow:auto;
}*/


/*********** Entire interface ******************/
#container {
	width: 100%;
}

body {
	font-family: Arial;
	font-size: 20px;
}

p {
	font-size:12px;
}

img {
	width: 60px;
}

button {display:inline;}


/************* Search Module *********************/

#searchString {
	font-family: Arial;
	font-size: 20px;
	height: 50px;
	width: 250px;
	margin-right: 30px;
	background:white;
	padding:10px;
	border-radius:5px;
}

/* green submit button */
#button {
	color:white;
	background:#A1A850;
	padding: 10px;
	border-radius:5px;
	width: 70px;
}


/********** Sidebar (search, filter, results) ************/
#sidebar {
	float:left;
	background: lightgray;
	padding: 20px;
	margin: 30px;
	width: 30%;
}



/*************** Results Module ***********************/
.outerResultsDiv {
  border: 1px solid #000;
  /*min-height:120px;
  width:90px;*/
  display:inline-block;
  margin:5px;
  padding: 15px;
  width: 80%;
  height:500px;
  background: gray;
}

#resultsDiv {
	background:gray;
	color:white;
	border:none;

	overflow-x:hidden;
	overflow-y:scroll;
	height:450px;
	font-size: 15px;

}


li:hover {
	background-color: lightgray;
	color: black;
	border-radius: 5px;
	padding:0px;
}

/* #resultitem is the id of the divs that show up in results */
#resultitem {
	padding:10px;
	border-bottom:1px solid #000;
	line-height:11px;
}

#resultsimg {
	float:left;
	width:100px;
	padding-right: 10px;
}

#collectionTitle {
	line-height:10px;
}



/************* Timeline module ***************/
.timelinediv {
  border: 1px solid #000;
  min-height:120px;
  width:200px;
  display:inline-block; 
  margin:5px;
  padding: 15px;
  float: left;
  font-size: 15px;
  max-height:100px;
  overflow-y:scroll;
}

.timelineEntire{
	width:9999px;
	height:100px;
/*	background:white;
*//*	clear:all;
*/}

#timelineDisplay {
	clear:all;
	background-color:white;
}


#wrapper {
	border: 1px solid #000;
  /*min-height:50px; min-width:100px; 
  display:inline-block;*/
  margin:5px;
  padding: 15px;
  position: relative;
  float: right;
  width: 58%;
  max-width:;
  margin-right: 25px;
  margin-top: 25px;
  height:160px;
  overflow-x:scroll;
  overflow-y:hidden;
}


/*************** Preview Mode ************************/
#displaybox {
	width: 60%;
	height: 665px;
	background: gray;
	position: relative;
	float: right;
	margin-top: 28px;
	margin-right: 25px;
}


/**************** Save Module ********************/
#btnSave {
	float: right;
}




